<% if logged? %>
  <li><%= link_to "Salir", session_path(current_user), method: :delete %></li>
<% else %>
  <li><%= link_to "Entrar", new_session_path %></li>
  <li><%= link_to "Crear usuario", users_sign_up_path %></li>
<%end%> 